div.page-header{
    text-align: center;
}
div.mytable th,td{
    text-align: center;
}
div.add-instrument{
    font-size: 16px;
    text-align: center;
    height: 40px;
}
.jumbotron{
    height: 100vh;
}
h1.error-h1{
    text-align: center;
}
p.error-p{
    text-align: center;
}
p.price{
    color: red;
}
p.desc-p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
div.col-md-2{
    width:18%;margin-left:10px;margin-right:10px;
}
div.cart{
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 30%;
    background: #FDF5E6;
}
img.cart-image{
    width: 100px;
    height: 100px;
    float: left;
}
p.desc-cart-p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    float: left;
}
p.name-cart-p{
    float: right;
}
p.price-cart-p{
    float: right;
    vertical-align: bottom;
}
div.cart-btn{
    margin-top: 30px;
    margin-right: 30%;
}
label.price-label{
    color: red;
    float: right;
    font-size: 24px;
    margin-right: 20px;
    margin-top: 8px;
}
div.show-instrument{
margin-left: 20%;
margin-top: 10%;
}
div.img-show-instrument{
position: absolute;
}
div.img-show-instrument img{
height: 400px;
width: 400px;
}
div.show-instrument-right{
    height: 400px;
    margin-left: 500px;
}
div.name-show-instrument{

}
div.price-show-instrument{
margin-top: 40px;
margin-bottom: 40px;
}
div.price-show-instrument span{
    color: red;
    font-size: 24px;
}
div.weight-show-instrument{
margin-top: 40px;
margin-bottom: 40px;
}
div.desc-show-instrument{
margin-top: 40px;
margin-bottom: 40px;
}
div.transcost-show-instrument{
margin-top: 40px;
margin-bottom: 40px;
}