div.page-header{
    text-align: center;
}
div.mytable th,td{
    text-align: center;
}
div.add-instrument{
    font-size: 16px;
    text-align: center;
    height: 40px;
}
.jumbotron{
    height: 100vh;
}
h1.error-h1{
    text-align: center;
}
p.error-p{
    text-align: center;
}
p.price{
    color: red;
}
p.desc-p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
div.col-md-2{
    width:18%;margin-left:10px;margin-right:10px;
}