{% extends "bootstrap/base.html" %}

{% block title %}WebOrder{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">乐器销售网站</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">购物车 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">我的订单</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="乐器">
        </div>
        <button type="submit" class="btn btn-primary">搜索乐器</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if logined %}
        <li><a href="#">{{ username }}</a></li>
        <li><a href="{{url_for('main.logout')}}">注销</a></li>
        {% else %}
        <li><a href="{{url_for('main.login')}}">登录</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not logined %}
        <li><a href="{{url_for('main.register')}}">注册</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}