{% extends "_base.html" %}
{% block title %}后台管理 - 历史订单{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">乐器销售网站</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('main.admin')}}">乐器信息 </a></li>
        <li><a href="{{url_for('main.allUser')}}">用户信息</a></li>
        <li><a href="{{url_for('main.allOrder')}}">订单信息</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('main.adminLogout')}}">退出</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="mytable">
    <table class="table table-striped">
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>订单总价</th>
            <th>订单时间</th>
            <th></th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order[0]}}</th>
            <td>{{order[1]}}</th>
            <td>{{order[2]}}</th>
            <td>{{order[3]}}</th>
            <td><a href="{{url_for('main.orderDetail',id=order[0])}}">详细</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}