{% extends "_base.html" %}

{% block title %}乐器销售网{% endblock %}

{% block content %}
{% for instrument in instruments %}

{% if instrument[5]%per_line_nums==0 %}
<div>
{% endif %}

  <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="{{instrument[4]}}">
      <div class="caption">
        <h3>{{instrument[1]}}</h3>
        <p class="price">{{instrument[2]}}</p>
        <p class="desc-p">{{instrument[3]}}</p>
        <p><a href="#" class="btn btn-primary" role="button">加入购物车</a> <a href="#" class="btn btn-default" role="button">立即购买</a></p>
      </div>
    </div>
  </div>

{% if instrument[5]%per_line_nums==0 %}
<div>
  {% endif %}

{% endfor %}
{% endblock %}