{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}编辑商品信息{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">乐器销售网站</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('main.admin')}}">乐器信息 </a></li>
        <li><a href="{{url_for('main.allUser')}}">用户信息</a></li>
        <li><a href="{{url_for('main.allOrder')}}">订单信息</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('main.adminLogout')}}">退出</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="page-header">
    <h2>乐器信息编辑</h2>
</div>
<div class="col-md-4 col-md-offset-4">
    {% if edit_flag %}
    <h3 style="color:red;">修改信息时发生严重错误，具体信息请查看日志。</h3>
    {% endif %}
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}