{% extends "_base.html" %}
{% block title %}我的订单{% endblock %}
{% block content %}
<div class="mytable">
    <table class="table table-striped">
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>订单总价</th>
            <th>订单时间</th>
            <th></th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order[0]}}</th>
            <td>{{order[1]}}</th>
            <td>{{order[2]}}</th>
            <td>{{order[3]}}</th>
            <td><a href="{{url_for('main.myOrderDetail',id=order[0])}}">详细</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}