{% extends "_base.html" %} {% block title %}后台管理 - 订单详情{% endblock %} {% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/">乐器销售网站</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('main.admin')}}">乐器信息 </a></li>
                <li><a href="{{url_for('main.allUser')}}">用户信息</a></li>
                <li><a href="{{url_for('main.allOrder')}}">订单信息</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %} 
{% block content %}
<div class="mytable">
    <table class="table table-striped">
        <tr>
            <th>订单号:{{orders[0]}}</th>
            <th>下单时间:{{orders[3]}}</th>
            <th>用户:{{orders[1]}}</th>
            <th>总价:{{orders[2]}}</th>
        </tr>
        <tr>
            <th></th>
            <th>商品编号</th>
            <th>名称</th>
            <th>价格</th>
        </tr>
        {% for instrument in instruments %}
        <tr>
            <td style="width:15%;">
            <img src="{{instrument[3]}}" height="100" width="100">
            </td>
            <td>{{instrument[0]}}</th>
            <td>{{instrument[1]}}</th>
            <td>{{instrument[2]}}</th>
        </tr>
        {% endfor %}
    </table>
</div>
 {% endblock %}